body{
    background-image: url(Images/400x400bb.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.transparent-btn{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
  
.transparent-btn:hover{
    background-color: #fff; /* Change the background color on hover */
    color: #000; /* Change the text color on hover */
    border-color: #000; /* Change the border color on hover */
}